## 문자열의 format()함수

format()는 문자열이 가지고 있는 함수 입니다. 중괄호를 포함한 문자열 뒤에 마침표를 찍고 이 함수를 사용하는데 
* 중괄호의 개수와 format함수 괄호 안 매개변수의 개수는 반드시 같아야 합니다.

In [1]:
"{}".format(10)
"{} {}".format(10, 20)
"{} {} {} {} {}".format(101, 202, 303, 404, 505)

'101 202 303 404 505'

In [2]:
# format함수로 숫자를 문자열로 변환하기

string_a = "{}".format(10)

print(string_a)
print(type(string_a))

10
<class 'str'>

In [7]:
# format 함수의 다양한 형태

format_a = "{}만 원".format(5000)
format_b ="파이썬 열공해서 연봉 {} 만원 만들고 회수 수익 {} 퍼센트 증가시켜야지".format(9000,100)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d= "{} {} {}" .format(1, "문자열", True)

print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만 원
파이썬 열공해서 연봉 9000 만원 만들고 회수 수익 100 퍼센트 증가시켜야지
3000 4000 5000
1 문자열 True

In [10]:

# 정수
output_a = "{:d}".format(52)

# 정수를 특정칸에 출력하기

output_b = "{:5d}".format(52) # space after 5 
output_c= "{:10d}".format(52) # space after 10

# fill with 0 

output_d = "{:05d}".format(52) # positive number
output_e = "{:05d}".format(-52) # negative number



print(output_a)
print(output_b)
print(output_c)
print(output_d)
print(output_e)

52
   52
        52
00052
-0052

In [11]:
#기호 붙여서 출력하게

output_f = "{:+d}".format(52) # positive number
output_g = "{:+d}".format(-52) # negative number
output_h = "{: d}".format(52) # positive number, the sign would be eliminated
output_i = "{: d}".format(-52) # negative number, the sign would be eliminated

print(output_f)
print(output_g)
print(output_h)
print(output_i)

+52
-52
 52
-52

In [19]:

output_h = "{:+5d}".format(52)  
print(output_h)
#when you want to print with format , you have to use :d,
# if you add number before d, it would space as much you write it down. 

output_g = "{:+5d}".format(-52)
print(output_g)

output_j = "{:=+5d}".format(52) # 기호를 앞으로 밀기, 기호와 공백 조합시 = 기호 사용 이 의미는 5칸의 공간을 잡았을때 기호를 앞에 붙일지
#뒤에 붙일지 결정
print(output_j)
output_k = "{:=+5d}".format(-52) # negative number 
print(output_k)

# 0으로 채우기
output_l = "{:+05d}".format(52)
output_m = "{:+05d}".format(-52)
print(output_l)
print(output_m)

  +52
  -52
+  52
-  52
+0052
-0052

## Formatting with float number

In [22]:
output_a = "{:f}".format(52.273)
output_b = "{:15f}".format(52.273) # 15칸 만들기
output_c = "{:+15f}".format(52.273) # 15칸에 부호 추가하기
output_d = "{:+015f}".format(52.273) # 15칸에 부호 추가하고 0으로 채우기

print(output_a)
print(output_b)
print(output_c)
print(output_d)

52.273000
      52.273000
     +52.273000
+0000052.273000

In [31]:
a = "{:15.3f}".format(52.273)# 다음 코드처럼 .을 입력하고 뒤에 몇 번째 자리수까지 표시할지 지정하면 소수점 아래 자릿수를 지정 할수 있습니다.
b = "{:15.2f}".format(52.273)
c = "{:15.1f}".format(52.273)

print(a)
print(b)
print(c)
# 자동으로 반올림이 일어남

         52.273
          52.27
           52.3

In [29]:
d = "{:.3f}".format(52.273)
print(d)

52.273

In [32]:
#의미 없는 소수점 제거하기

output_a = 52.0
output_b = "{:g}".format(output_a)
print(output_a)
print(output_b)

52.0
52

## uppper() and lower()

In [33]:
a = "hello world"
a.upper()

'HELLO WORLD'

In [34]:
a.lower()

'hello world'

## 문자열 양옆의 공백 제거하기 : strip()

* strip() 문자열 양옆의 공백을 제거합니다
* lstrip()  문자열 왼쪽의 공백을 제거합니다.
* rstrip() 문자열 오른쪽의 공백을 제거합니다.

In [35]:
# """ """ 는 의도하지 않은 줄바꿈이 생길수있다.
a = """
안녕하세요
문자열의 함수를 알아보빕시다.
"""
print(a)

안녕하세요
문자열의 함수를 알아보빕시다.

In [36]:
print(a.strip())

안녕하세요
문자열의 함수를 알아보빕시다.

isalnum()
isalpha
isidentifier  -- 문자열이 식별자로 사용 할수 있는것인지?
isdecimal  --문자열이 정수 형태인지 확인
isdigit  -- 문자열이 숫자로 인식될수 있는지 
isspace
islower
isupper

## 문자열 찾기 
find() : 왼쪽부터 찾아서 처음 등장하는 위치를 찾습니다
rfind(): 오른쪽부터 찾아서 처음 등장하는 위치를 찾습니다.

In [37]:
a = 'hihihi im suji'.find('hi')
print(a)

0

In [39]:
b = 'hihihi im suji'.rfind('hi')
print(b)

4

In [40]:
# 문자열 확인하기
print("안녕" in "안녕하세요")

True

In [41]:
print("pop" in "안녕하세요")

False

In [42]:
a = "10 20 30 40 50".split(" ")
print(a)

['10', '20', '30', '40', '50']