* 리스트는 인덱스를 기반으로 값을 저장하는것
* 딕셔너리는 키를 기반으로 값을 저장하는것

In [6]:
dict_a = {"name": "avengers",
         "type": "heros"}
dict_a["name"]
dict_a['type']

'heros'

In [59]:


dict_b ={
    "director": ['lucy', 'james'],
    "movies": ['hulk','iron man3']
}

dict_b

{'director': ['lucy', 'james'], 'movies': ['hulk', 'iron man3']}

In [9]:
dict_b['director']

['lucy', 'james']

In [10]:
dict_b['movies']

['hulk', 'iron man3']

In [13]:
# 딕셔너리와 발류값 변경
dict_b['director']='cameron'
dict_b
# 한개 넣으면 한개만 나오네

{'director': 'cameron', 'movies': ['hulk', 'iron man3']}

In [17]:
# 딕셔너리 하나의 키값에 여러가 값을 가지고 있는 경우는 리스트로 이해할수 있따. 
dict_b['movies'][0]

'hulk'

In [18]:
# 딕셔너리에 새로운 자료 추가하기 
dict_b['price']=5000
dict_b

{'director': 'cameron', 'movies': ['hulk', 'iron man3'], 'price': 5000}

In [19]:
# del을 이용하요 딕셔너리 요소 제거하기
del dict_b['director']
dict_b

{'movies': ['hulk', 'iron man3'], 'price': 5000}

In [60]:
# 헷갈리는 부분 딕셔너리를 for 문에서 사용할때 

for i in dict_b:
    print(i)

#딕셔너리에 내 키값을 반환한다.

director
movies

In [61]:
list_a = ['a',2,'45']
for i in list_a:
    print(i)
# 인덱스를 반복하며 값을 보여준다.

a
2
45

In [65]:
# 딕셔너리 키에 해당하는 모든 값을 보려면?

for i in dict_b:
    print(i, dict_b[i])

director ['lucy', 'james']
movies ['hulk', 'iron man3']

In [62]:
len(list_a)

3

In [20]:
# 키가 존재하는 확인하고 값에 접근하기

dicti={
    "name":'7d dried mangos',
    "type":'dried',
    'ingredient':['mangos','sugar'],
    'orgin':'phliphine'
}


key = input('접근하고자하는 키')

if key in dicti:
    print(dicti[key])
else:
    print('None')

접근하고자하는 키name
7d dried mangos

In [63]:
# 키가 존재하는 확인하고 값에 접근하기 get함수를 사용해서

dicti={
    "name":'7d dried mangos',
    "type":'dried',
    'ingredient':['mangos','sugar'],
    'orgin':'phliphine'
}



value = dicti.get('not existed')
print('value', value)

if value == None:
    print("you called none values")

value None
you called none values

In [25]:
dicti

{'name': '7d dried mangos',
 'type': 'dried',
 'ingredient': ['mangos', 'sugar'],
 'orgin': 'phliphine'}

In [27]:
for key in dicti:
    print(key, ":", dicti[key])  # 왼쪽 키값을 반복하세요 오른쪽 발류값을 반복하세요

name : 7d dried mangos
type : dried
ingredient : ['mangos', 'sugar']
orgin : phliphine

## 마무리 문제

In [31]:
dict_a = {}
dict_a['name']="구름"
dict_a

{'name': '구름'}

In [32]:
del dict_a['name']
dict_a

{}

In [66]:
pets = [
  {"name": "cloud", "age": 5},
  {"name": 'choco', "age": 3},
  {'name': 'merry', 'age':1},
  {'name': 'tiger', 'age': 1}
]

pets

[{'name': 'cloud', 'age': 5},
 {'name': 'choco', 'age': 3},
 {'name': 'merry', 'age': 1},
 {'name': 'tiger', 'age': 1}]

In [70]:
pets[0]['name']

'cloud'

In [71]:
for pet in pets:
    print(pet['name'], str(pet['age']))
        
# 반복하는것은 리스트의 인덱스 
# 리턴하는것은 각 리스트에 있는 딕셔너리 
# 딕셔너리의 값을 호출하려면 딕셔너리의 키갑을 적어야한다.

cloud 5
choco 3
merry 1
tiger 1

In [72]:
for pet in pets:
    print(pet['name'], pet['age'])

cloud 5
choco 3
merry 1
tiger 1

In [55]:
numbers = [
    1,2,6,8,4,3,2,1,9,6,4,9,7,2,1,3,5,5,8,9,7,2,3
]

counter = {}

for number in numbers:
    if number in counter:
        counter[number] =counter[number]+1
    else:
        counter[number]=1
print(counter)

{1: 3, 2: 4, 6: 2, 8: 2, 4: 2, 3: 3, 9: 3, 7: 2, 5: 2}

In [73]:
numbers = [
    1,2,6,8,4,3,2,1,9,6,4,9,7,2,1,3,5,5,8,9,7,2,3
]

counter = {}

for number in numbers:
    if number in counter:
        counter[1] =counter[1]+1
print(counter)

{}

In [56]:
character = {
    "name": 'knight',
    'level': 12,
    'items': {
        'sword': 'The sord of flare',
        'armor' : 'full-plated'},
    'skill': ['cut it', 'cut it harder', 'cut it the hardest']
    }
character

{'name': 'knight',
 'level': 12,
 'items': {'sword': 'The sord of flare', 'armor': 'full-plated'},
 'skill': ['cut it', 'cut it harder', 'cut it the hardest']}

In [58]:
for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(small_key, ":", character[key][small_key])
    elif type(character[key]) is list:
        for item in character[key]:
            print(key, ":", item)
    else:
        print(key, ":", character[key])

name : knight
level : 12
sword : The sord of flare
armor : full-plated
skill : cut it
skill : cut it harder
skill : cut it the hardest

In [ ]:
for key in character:
    if type(character[key]) is dict:
        for small_key in character[key]:
            print(small_key, ":", character[key])

In [74]:
type(character['skill'])

list

In [75]:
type(character['items'])

dict

In [76]:
type(character['name'])

str

value 값이 리스트도 될수 있고 또하나의 딕셔너리기가 될수도 있다.

In [77]:
for key in character:
    print(key, character[key])

name knight
level 12
items {'sword': 'The sord of flare', 'armor': 'full-plated'}
skill ['cut it', 'cut it harder', 'cut it the hardest']

## Iterator

## for 반복자 in 반복 할 수 있는것
* 여기서 반복할수 있는것을 iterable이라고 한다.
* 내부에 있는 요소들을 차례차례 꺼낼수 있는 객채를 의미
* 이중에서 next함수를 적용할수 있는 요소를 iterator라고 함

In [80]:
numbers = [1,2,3,4,5,6]
r_num = reversed(numbers)

print(r_num)
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))

<list_reverseiterator object at 0x7f8a490fc610>
6
5
4
3
2

##  확인문제

In [81]:
# 10수와 2진수의 변환

"{:b}".format(10)

'1010'

In [83]:
int("1010",2)
# 변환시 따옴포 이것은 문자

10

In [86]:
# 10진수와 8진수 변환
"{:o}".format(10)

'12'

In [87]:
int("12",8)

10

In [88]:
#10진수와 16진수 변환
"{:x}".format(10)
"a"
int("10", 16)
16

16

In [91]:
# 반복가능한 객체 문자열, 리스트, 범위 count함수 사용

"나는어제너무힘들었따".count("나")

1