In [2]:
# 리스트의 구성 element and index 
x= [1,2,3,4] # elements
print(x[0]) # indexs
print(x[1])

1
2

In [4]:
# 리스트의 변경
# 리스트의 인덱스를 호출  바꾸고싶은 값을 넣는다
list_a = [273, 32, 103, 'strings',True,False]

list_a[0]= "modificaiton"
list_a

['modificaiton', 32, 103, 'strings', True, False]

In [6]:
# 리스트의 변경 뒤에서부터

list_a[-1] # 제일 뒤
list_a[-2] # 뒤에서 두번째 
list_a[-3] #뒤에서  세번째

'strings'

In [7]:
# 리스트의 요소가 문자일경우 문자열의 시퀀스를 선택하는 방법
list_a[0][0]

'm'

In [9]:
# 리스트 안에 리스트를 사용 하는 것
list_a = [[1,2,3],[4,5,6],[7,8,9]]
list_a[1]

[4, 5, 6]

In [11]:
# 리스트의 연결

list_a= [1,2,3]
list_b= [4,5,6]

print("list_a=", list_a)
print("list_b=", list_b)

print("list_a + list_b", list_a+list_b)
print("list_a * list_b", list_a*3)
print()

#list의 갯수구하기
len(list_a)

list_a= [1, 2, 3]
list_b= [4, 5, 6]
list_a + list_b [1, 2, 3, 4, 5, 6]
list_a * list_b [1, 2, 3, 1, 2, 3, 1, 2, 3]

3

In [15]:
list_a=[]
for i in range(40):
    list_a.append(i)
#뒤에 붙이기

In [16]:
#리스트 원하는 부분에 넣기
list_a.insert(0,11)
print(list_a)

[11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [17]:
# 한번에 여러 오쇼 추가하기--extend()
list_a = [1,2,3]
list_a.extend([4,5,6])
print(list_a)

[1, 2, 3, 4, 5, 6]

In [19]:
# 리스트 연결 연산자(+) 와 extend()함수의 차이

list_a = [1,2,3]
list_b = [4,5,6]

print(list_a + list_b)
print(list_a)
print(list_b)
# list_a, b 원본에 아무런 변화가 없다.

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [22]:
list_a = [1,2,3]
list_b = [4,5,6]

list_a.extend(list_b)
print(list_a)
print(list_b)

# list_a 가 근본적으로 바뀜

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [ ]:
# 리스트의 요소 제거하기 
# 인덱스를 찾아서 지우기
# 값으로 제거하기(요소)

In [27]:
# del 리스트의 특정 인덱스에 있는 요소를 제거
list_a=[]
for i in range(6):
    list_a.append(i)
print(list_a)
del list_a[1]
print("del list_a[1]", list_a)  # 두번째 요소 삭제

[0, 1, 2, 3, 4, 5]
del list_a[1] [0, 2, 3, 4, 5]

In [28]:
# pop() 리스트의 특정 인덱스에 있는 요소를 제거, arguments를 넣지 않으면 마지막 요소를 제거
list_a=[]
for i in range(6):
    list_a.append(i)
print(list_a)
list_a.pop(2)
print("pop(2)", list_a)  # 세번째 요소 삭제

[0, 1, 2, 3, 4, 5]
pop(2) [0, 1, 3, 4, 5]

In [30]:
# del은 범위를 지정해서 삭제할수 있다.
list_b = []
for i in range(7):
    list_b.append(i)
print(list_b)
del list_b[3:6]
list_b

[0, 1, 2, 3, 4, 5, 6]

[0, 1, 2, 6]

In [33]:
# 범위 기준 한쪽 전부 제거하기 [:3]
list_b = []
for i in range(7):
    list_b.append(i)
print(list_b)
del list_b[:3] # 0, 1, 2 다 날림  # 3 미포함
list_b

[0, 1, 2, 3, 4, 5, 6]

[3, 4, 5, 6]

In [34]:
# 범위 기준 한쪽 전부 제거하기 [3:]
list_b = []
for i in range(7):
    list_b.append(i)
print(list_b)
del list_b[3:] # 3, 4, 5,6 다 날림   # 포함
list_b

[0, 1, 2, 3, 4, 5, 6]

[0, 1, 2]

In [36]:
# 요소 직접 제거하기 , remove()

list_c = [1,2,1,2]
list_c.remove(2)
list_c
# 주의 동일 값이 여러개 있어도 처음 발견되는것만 제거됨

[1, 1, 2]

In [38]:
#  whlie문을 사용하여 중복된 여러개의 값 모두 제거하기  내가 짠 코드

list_c = [1, 2, 1, 2]
while 2 in list_c:
    list_c.remove(2)
list_c

[1, 1]

In [39]:
list_d = []
for i in range(6):
    list_d.append(i)
print(list_d)
list_d.clear()
list_d

[0, 1, 2, 3, 4, 5]

[]

In [40]:
# 특정 값이 리스트 내부에 있는지 확인하기

list_a = [273, 32, 10., 57, 52]

273 in list_a

True

In [41]:
# 특정 값이 리스트 내부에 없는지 확인하기

list_a = [273, 32, 10., 57, 52]

273 not in list_a

False

## For  qkㄴ복문: 리스트와 함께 사용하기

for 반복자 in 반복할수 있는것 :
코드 

* 반복할수 있는것에는 문자열, 리스트, 딕셔너리, 범위가 있다.

In [42]:
for element in list_a:
    print(element)

273
32
10.0
57
52

# 마무리 문제  for 0401

In [49]:
num= [273,103,5,32,65,9,72,800,99]

for i in num:
    if i % 2 ==0:
        print(i, "even numbers")
    else: 
        print(i, "odd numbers")

273 odd numbers
103 odd numbers
5 odd numbers
32 even numbers
65 odd numbers
9 odd numbers
72 even numbers
800 even numbers
99 odd numbers

In [51]:
num= [273,103,5,32,65,9,72,800,99]

for i in num:
    if i>=100:
        print(i, "three digit numbers")
    elif i>=10: 
        print(i, "two digit numbers")
    else:
        print(i, "single digit numbers")

273 three digit numbers
103 three digit numbers
5 single digit numbers
32 two digit numbers
65 two digit numbers
9 single digit numbers
72 two digit numbers
800 three digit numbers
99 two digit numbers

In [53]:
nested_list=[[1,2,3],[4,5,6,7],[8,9]]

for i in nested_list:
    for j in i:
        print(j)
# 내가 했지만 얻어 걸렸다는느낌;; ㅋㅋ

1
2
3
4
5
6
7
8
9

In [61]:
numbers = []
for i in range(10):
    numbers.append(i)
print(numbers)
output= [[],[],[]]

for number in numbers:
    output[(number +2 )%3].append(number)
print(output)

#

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[[1, 4, 7], [2, 5, 8], [0, 3, 6, 9]]

In [ ]:
#output[] output sub

In [57]:
2 % 3

2

In [59]:
3 % 3

0

In [62]:
4 % 3

1

In [63]:
5%3

2

In [64]:
6%3

0

In [65]:
# 알겠지만 이렇게 어떻게 계싼을 하지? 생각도 못했다