* 04-01, 04-02 에서 for 문을반복할때 리스트와 딕셔너리를 활용해서 반복해봤다.
* for statement에서 또하나 활용할수 있는 것은 범위(range)다. 
* 이와 관련해서 3가지 다른 방법이 있다.

# one argument in a range

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
#list()를 사용하면 범위내 어떤 값이 들어있는지 알수 있다
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Two arguemtns in a range

In [3]:
# n부터 m-1까지의 정수의 범위로 만듬 
for i in range(2,5):
    print(i)

2
3
4

In [7]:
list(range(9, 15))

[9, 10, 11, 12, 13, 14]

## Three arguemtns in a range

In [5]:
# n부터 m-1까지의 정수의 범위로 만듬 , 공차가 l 만큼생김
# range(n,m,l)

for i in range(2,7,2):
    print(i)

2
4
6

In [8]:
list(range(1,10, 2))

[1, 3, 5, 7, 9]

## 파이썬의 모든 기능들은 범위를 지정할때 마지막 숫자를 포함하지 않는다.

In [9]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [10]:
# 특정값을 반드시 포함되어야 한다고 했을떄 다음과 같이 작성하기도 한다.

a = range(0, 10+1)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# range arguments 정수만 받는다.

n= 10
a = range(0, n/2)

TypeError: 'float' object cannot be interpreted as an integer

In [12]:
a = range(0, int(n/2)) 
list(a)
#실수를 정수로 바꾸는 방법보다

a = range(0, n //2) # 정수 나누기 연산자를 많이 사용함
list(a)

[0, 1, 2, 3, 4]

In [13]:
array = [273, 32, 103, 57, 52]

for i in range(len(array)): # list의 갯수만큼 반복합니다.
    print("{}번째 반복: {}".format(i, array[i]))

0번째 반복: 273
1번째 반복: 32
2번째 반복: 103
3번째 반복: 57
4번째 반복: 52

In [15]:
for i in array: # 리스트를 그냥 반복시키면 리스트의 값을 반환한다.
    print(i)

273
32
103
57
52

In [17]:
for i in range(len(array)):  # len함수로 갯수를 세고 그만큼 반복하면 몇번재인지를 반환한다.
    print(i)

0
1
2
3
4

## 역반복문

In [19]:
for i in range(4, 0 - 1, -1): #4번재부터 마지막까지 헤아릴것, 차이는 거꾸로 따라서 마지막에서부터 4가지 나열
    print('현재 반복 변수: {}'.format(i))

현재 반복 변수: 4
현재 반복 변수: 3
현재 반복 변수: 2
현재 반복 변수: 1
현재 반복 변수: 0

In [21]:
# reversed 함수를 사용해서 봅아보기

for i in reversed(range(5)):
    print("현재반복횟수: {}".format(i))

현재반복횟수: 4
현재반복횟수: 3
현재반복횟수: 2
현재반복횟수: 1
현재반복횟수: 0

## while 반복문

* for 반복문은 특정 횟수만큼 반복하는 경우이고
* whlie 반복문은 표현식이 참인동안 게속 반복하는것 

* 구체적으로 범위, 리스트, 딕셔너리를 제외하고는 전부다 whlie을 사용한다.
* '조건'을 사용한다면 while반복문이다.

In [22]:
i = 0
while i<10:
    print("{}번째 반복입니다".format(i))
    i +=1

0번째 반복입니다
1번째 반복입니다
2번째 반복입니다
3번째 반복입니다
4번째 반복입니다
5번째 반복입니다
6번째 반복입니다
7번째 반복입니다
8번째 반복입니다
9번째 반복입니다

In [23]:
# while문을 활용해 여러개 값 한번에 삭제하기

list_1=[1,2,3,4,5,1,2]
value=2

while value in list_1:
    list_1.remove(value)

print(list_1)

[1, 3, 4, 5, 1]

Unix time: 세계 표준시 UTX로 1970년 1월 1일 0시 0분 0초를 기준으로 몇초가 지났는지를 저수로 나타낸것.

In [26]:
import time
print("현재 시간은 1970년으로부터 {}만큼 시간이 지났다.".format(time.time()))

현재 시간은 1970년으로부터 1668335907.350425만큼 시간이 지났다.

In [27]:
# 5초 동안 반복하기

number = 0

target_tick = time.time()+5
while time.time() < target_tick:
    number +=1
print("5초동안 {}번 반복했습니다.".format(number))

5초동안 28786904번 반복했습니다.

In [28]:
# while 반복문:  breakt, continue

i = 0

while True:
    print("{}번째 반복문입니다.".format(i))
    i=i+1
    
    #반복 종료
    
    input_text = input("do you want to quit?(y/n):")
    if input_text in ["y", "Y"]:
        print("반복을 종료합니다.")
        break

0번째 반복문입니다.
do you want to quit?(y/n):n
1번째 반복문입니다.
do you want to quit?(y/n):n
2번째 반복문입니다.
do you want to quit?(y/n):n
3번째 반복문입니다.
do you want to quit?(y/n):n
4번째 반복문입니다.
do you want to quit?(y/n):n
5번째 반복문입니다.
do you want to quit?(y/n):y
반복을 종료합니다.

In [37]:
# continue

numbers = [5, 15, 6, 20, 7, 25]


for number in numbers:
    
    if number <10:
        continue
    print(number)
# 리스트에서 반복하는 범위에서 제외를 시킨다.

15
20
25

In [39]:
# 일반적으로는 이렇게 하겠지

for number in numbers:
    if number >=10: print(number)

15
20
25

## 확인문제

In [47]:
# range(4,6):
#[5]
list(range(4, 6))

[4, 5]

In [46]:
# 7 6 5 4 3 2 1 

list(range(7, 0, -1))

[7, 6, 5, 4, 3, 2, 1]

In [48]:

list(range(3,10,3))

[3, 6, 9]

In [50]:
key_list = ['name','hp','mp','level']
value_list= ['knight',200,30,5]
character = {}

    

# 딕셔너리에 새로운 자료 추가하기 
for i in range(0, len(key_list)):
    character[key_list[i]]=value_list[i]
print(character)

{'name': 'knight', 'hp': 200, 'mp': 30, 'level': 5}

In [55]:
limit = 1000
i = 1

sum_value = 0
while sum_value < limit:
    sum_value +=i
    i += 1
print("{}를 더할 때 {}를 넘으며 그때의 값은 {}입니다.".format(i,limit, sum_value))

46를 더할 때 1000를 넘으며 그때의 값은 1035입니다.

In [56]:
# 1부터 100까지의 숫자가ㅗ 있다고 합시다. 다음과 같이 계산하려고할때 ㅗ최대가 되는 경우는 어떤 숫자를 곱했을때인가요?4
# 1*99 , 2* 98, 3*97

In [58]:
max_value= 0
a = 0
b = 0

for i in range(1,100//2+1):
    j = 100-i
    
    #최대값구하기

    current = i *j 
    if max_value < current:
        a = i
        b = j
        max_value = current
print("max:{}*{}={}".format(a,b,max_value))

max:50*50=2500