##F-String Practice 
Reference: BlockDMask
https://blockdmask.tistory.com/429

##Day 01
F-string
일정: 2022. 3. 24. 오전 2:45부터 오전 3:25까지, GMT+9

In [6]:
month= 1
while month <=12:
  print(f'2020년 {month}월')
  month=month+1

2020년 1월
2020년 2월
2020년 3월
2020년 4월
2020년 5월
2020년 6월
2020년 7월
2020년 8월
2020년 9월
2020년 10월
2020년 11월
2020년 12월

In [9]:
s= 'coffee'
n= 5
result1 = f'I like {s}. I drink {n}times a day.'
print(result1)

I like coffee. I drink 5times a day.

In [12]:
s1 = 'left'
result1 = f' |{s1:<10}|'  # :<left
print(result1)
s2 = 'mid'
result2 = f'|{s2:^10}|'  # :^mid
print(result2)
s3 = 'right'
result3 = f'|{s2:>10}|'  # :>right
print(result3)

 |left      |
|   mid    |
|       mid|

In [21]:
num = 10 
result = f'my age {num}'
print(result)
result = f'my age {{num}}'
print(result)
result = f'my age {{{num}}}'
print(result)

my age 10
my age {num}
my age {10}

In [22]:

# f-string과 딕셔너리
d = {'name': 'BlockDMask', 'gender': 'man', 'age': 100}
result = f'my name {d["name"]}, gender {d["gender"]}, age {d["age"]}'
print(result)

my name BlockDMask, gender man, age 100

In [32]:
d = {'name':'Eddie', 'gender':'man', 'age':100}
print(d)
result = f'my name {d["name"]}, gender {d["gender"]}, age {d["age"]}'
print(result)

{'name': 'Eddie', 'gender': 'man', 'age': 100}
my name Eddie, gender man, age 100

In [33]:
# f-string과 리스트
n = [100, 200, 300]
 
print(f'list : {n[0]}, {n[1]}, {n[2]}')
 
 
for v in n:
    print(f'list with for : {v}')

list : 100, 200, 300
list with for : 100
list with for : 200
list with for : 300

In [38]:
n= [100, 200, 300]

print(f'list : {n[0]}, {n[1]}, {n[2]}')
print(n)

for i in n:
  print(f'list with for : {i}')

list : 100, 200, 300
[100, 200, 300]
list with for : 100
list with for : 200
list with for : 300