<a href="https://colab.research.google.com/github/Big-Shu-Nim/PYTHON_Basic_Syntax/blob/main/220309_List_and_Print_format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [10]:
a=[10,20,30,40]

In [11]:
# I want to see third variable in the list, How?
print(a[3])

40

In [12]:
# you got wrong. In python, the number begins in 0 So you should say
print(a[2])

30

In [15]:
aa = []
aa.append(0)
aa.append(0)
aa.append(0)
aa.append(0)
print(aa)

[0, 0, 0, 0]

In [17]:
# I want to make a list that has 100s '0' as a variable
aaa=[]
for i in range(1,100): # 항상 변수를 넣고 그 변수의 반복만을 했는데 그냥 전체 조건문을 몇번 반복한다도 된다.ㅎ
  aaa.append(0)
len(aaa)

99

In [ ]:
aa =[]
for i in range(0,4):
  aa.append(0)

for i in range(0,4) :
  aa[i] = int(input(str(i+1)+'번째 숫자 :'))

In [21]:
for i in range(0,4) :
  input(str(i+1)+'th number :')

1th number :1
2th number :2
3th number :3
4th number :4

In [22]:
type(input(str(i+1)+'th number :'))

4th number :1

str

In [25]:
for i in range(0,4) :
  aa[i] = int(input( str(i+1) + 'th number :'))

1th number :1
2th number :2
3th number :3
4th number :4

In [28]:
sum = 0
for i in range(0,4):
  sum=sum+aa[i]
print('sum ==>%d' %sum)

sum ==>10

In [30]:
aa=[]
for i in range(0,4):
  aa.append(0)

for i in range(0,4):
  aa[i]=int(input( str(i+1) + 'th number:'))

sum = 0
for i in range(0,4):
  sum=sum+aa[i]

print('sum==>%d' %sum)

1th number:30
2th number:40
3th number:88
4th number:124
sum==>282

%s - Take the next argument and print it as a string
%d - Take the next argument and print it as an int

https://en.wikipedia.org/wiki/Printf_format_string