<a href="https://colab.research.google.com/github/Big-Shu-Nim/PYTHON-for-Beginner/blob/main/220302_PYTHON_Basic_Syntax(print%2Clist%2C_for_statement).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#변수의 선언
boolvar=True
int=0
float=0.0
str=""

In [28]:
Type=[boolvar,int,float,str]

In [22]:
for i in Type:
 print(type(i))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#변수가 선언 되는 순간 효과를 가진다.

In [25]:
print('100')
print('%d' % 100)

100
100

프린트함수는 서식을 가진다. 
위의 예제에서 %D 가 서식이다.
이는  'Decimal' 십진법을 의미한다. 주의하자 나는 일반적으로 소수점으로 훨씬 많이 사용하는것을 많이 봤다.

In [33]:
# 왜 오류가 발생하였는가?
print("%d" % (100,200))
#서식의 개수("%d"와 뒤에 나오는 숫자의 갯수는 같아야 하는데 이 튜플에서는 두개나 있다.

TypeError: ignored

In [35]:
# 왜 오류가 발생하였는가?
print("%d %d" % (100))
#%d %d가 두개 인데 숫자가 하나밖에 없다.

TypeError: ignored

In [36]:
print("%d" % (100))

100

In [37]:
print("%d %d" % (100,200))

100 200

In [42]:
print("%f" % (0.2555))

0.255500

In [43]:
print(0.2555)

0.2555

In [47]:
f1="%f" % (0.2555)
f2=0.2555
fs=[f1, f2]

In [49]:
for i in fs:
  print(type(i))

<class 'str'>
<class 'float'>

In [50]:
# f-string과 리스트
n = [100, 200, 300]
 
print(f'list : {n[0]}, {n[1]}, {n[2]}')
 
 
for v in n:
    print(f'list with for : {v}')

list : 100, 200, 300
list with for : 100
list with for : 200
list with for : 300

In [54]:
#f-string연습
list1 = ['banana', 'apple', 'grape']
print(f'list :{n[0]}, {n[1]}, {n[2]},가  들어있습니다')

list :100, 200, 300,가  들어있습니다

In [55]:
#f-string 연습
for i in list1:
  print(f'나는 {list1}가 먹고싶어요')

나는 ['banana', 'apple', 'grape']가 먹고싶어요
나는 ['banana', 'apple', 'grape']가 먹고싶어요
나는 ['banana', 'apple', 'grape']가 먹고싶어요

In [59]:
#리스트 활용
aa =[] #아무것도 없는 빈 리스트 만들기
for i in range(0,4): # 파이선 range는 시작번호부터 마지막번호 앞까지를 말한다. 여기서는 0,1,2,3
  aa.append(0) # append 리스트 제일 뒤에 항목을 추가하는 매쏘드
print(aa)

[0, 0, 0, 0]

In [70]:
for i in range(0,4):
  aa[i] = ((i+1)+'번째 숫자:'))
  # 왜 안되는지 모르겠다. 환경은 코랩

SyntaxError: ignored

In [75]:
aa=[]
hap = 0
for i in range(0,4):
  hap = hap+aa[i]
print('합계 ==> %d " % hap)
# 왜안되는지 모르겠다. 환경은 코랩

SyntaxError: ignored