<a href="https://colab.research.google.com/github/Big-Shu-Nim/PYTHON-for-Beginner/blob/main/My_44days_Challenge_Python_conditional_statements_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a my 44 day's challenge to get used to for statements. 
My reference source are ðŸ‡°
https://www.w3resource.com/python-exercises/python-conditional-statements-and-loop-exercises.php#EDITOR

I basically try new one a day. However it should be accumulated. For example Today I'm going to finish module 1 section. I'll try it tomorrow. Also the day after tomorrow. Wish me luck. :)

1.Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).
* multiple of  ë°°ìˆ˜

Start Date 03 06 22

for i in range(condit

In [ ]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
nl=[]
for x in range(1500, 2701):
               if (x%7==0):
                 nl.append(str(x))
print (','.join(nl))

1505,1512,1519,1526,1533,1540,1547,1554,1561,1568,1575,1582,1589,1596,1603,1610,1617,1624,1631,1638,1645,1652,1659,1666,1673,1680,1687,1694,1701,1708,1715,1722,1729,1736,1743,1750,1757,1764,1771,1778,1785,1792,1799,1806,1813,1820,1827,1834,1841,1848,1855,1862,1869,1876,1883,1890,1897,1904,1911,1918,1925,1932,1939,1946,1953,1960,1967,1974,1981,1988,1995,2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2100,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2275,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2450,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2625,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695

In [4]:
nl=[]
for x in range(1500, 2701):
  if(x%7==0) and (x%5==0):
    nl.append(str(x))
print(','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [19]:
# reference for .join --https://blockdmask.tistory.com/468

# Day 02 | Review Day 01

1.Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).


Start Date 03 07 22

In [3]:
answer=[]
for i in range(1500,2700):
  if i%7==0 and i% 5== 0:
    answer.append(i)
print(answer)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [16]:
#Review my code to see if misunderstanding. 
print(len(nl))
print(len(answer))
print(len(nl)-len(answer))
print(nl==answer)
# even though the result seems to be same, the function says it doesn't. 
print(sorted(nl) == sorted(answer))

35
35
0
False
False

In [17]:
type(nl[0])

str

In [18]:
type(answer[0])

int

In [20]:
answer2=[]
for i in range(1500,2700):
  if i%7==0 and i% 5== 0:
    answer2.append(str(i))
print(sorted(nl) == sorted(answer2))

True

# wrap up
The big diffrence bewteen my code and the answer code is a type of the component of list. 

It depends on which outcome you need, you can select the codes.

# Day 02 | Exercise 02

Write a Python program to convert temperatures to and from celsius, fahrenheit. 

Go to the editor
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]



Expected Output :
60Â°C is 140 in Fahrenheit
45Â°F is 7 in Celsius

In [1]:
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])  # I don't get why temp[:-1] need here so for the next code. 
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((9 * degree) / 5 + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32) * 5 / 9))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : 60C
The temperature in Fahrenheit is 140 degrees.